body {
    margin-left: 4em;
    margin-right: 4em;
    font-family: 'Ubuntu Mono';
}

#federico-img {
    border-radius: 50%;
}

#sidebar {
    float: left;
    width: 35%;
    background: #aa8888;
}

#content {
    float: left;
    width: 65%;
    background: #88aa88;
}

