body {
    font-family: 'Ubuntu Mono';
    margin: 0px;
}

#federico-img {
    border-radius: 50%;
}

#sidebar {
    width: 35%;
    background: #aa8888;
    box-sizing: border-box;
    position: fixed;
    padding: 1em;
    top: 0;
    bottom: 0;
}

#content {
    width: 65%;
    margin-left: 35%;
    background: #88aa88;
    overflow: hidden;
    box-sizing: border-box;
}

#content > div {
    display: none;
}

.no-style {
    list-style: none;
    padding: 0;
}

.about-li-icon {
    background: #8888aa;
    align-self: center;
}

.about-li-content {
    background: #aaaa88;
    flex-grow: 1;
    align-self: center;
    margin-left: 1em;
}

.about-li-icon > img {
    width: 100px;
    height: 100px;
}

.about-li {
    display: flex;
}
