:root {
    /* Dark colors */
    --nord-polar-night-0: #2e3440;
    --nord-polar-night-1: #3b4252;
    --nord-polar-night-2: #434c5e;
    --nord-polar-night-3: #4c566a;

    /* White colors */
    --nord-snow-storm-0: #d8dee9;
    --nord-snow-storm-1: #e5e9f0;
    --nord-snow-storm-2: #eceff4;

    --nord-frost-0: #8fbcbb; /* Light green */
    --nord-frost-1: #88c0d0; /* Sky blue */
    --nord-frost-2: #81a1c1; /* Periwinkle */
    --nord-frost-3: #5e81ac; /* Darker periwinkle */

    --nord-aurora-0: #bf616a; /* Red */
    --nord-aurora-1: #d08770; /* Orange */
    --nord-aurora-2: #ebcb8b; /* Yellow */
    --nord-aurora-3: #a3be8c; /* Green */
    --nord-aurora-4: #b48ead; /* Lavender */

    --color-bg: var(--nord-polar-night-0);
    --color-fg: var(--nord-snow-storm-2);
    --color-link: var(--nord-frost-1);
    --color-link-visited: var(--nord-aurora-4);
    --color-link-hover: var(--nord-frost-3);

    --color-rust: var(--nord-aurora-1);
    --color-c: var(--nord-polar-night-3);
    --color-cpp: var(--nord-aurora-0);
    --color-shell: var(--nord-aurora-3);
    --color-python: var(--nord-frost-3);
    --color-java: #b07219;
    --color-go: var(--nord-frost-1);
    --color-gdscript: var(--nord-frost-3);
    --color-arduino: var(--nord-frost-0);
    --color-kicad: var(--nord-aurora-4);
    --color-freecad: var(--nord-frost-2);

    --font-size-sm: 0.8rem;
    --font-size-md: 1.0rem;
    --font-size-lg: 1.3rem;
    --font-size-xl: 1.6rem;

    --spacer: 4rem;
    --three-quarter-spacer: calc(var(--spacer) * 3 / 4);
    --half-spacer: calc(var(--spacer) / 2);
    --quarter-spacer: calc(var(--spacer) / 4);

    --icon-padding: 0.5rem;
}

/* General */
html {
    background: var(--color-bg);
}
body {
    color: var(--color-fg);
    line-height: 1.6;
    max-width: 60vw;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: var(--half-spacer);
    margin-bottom: var(--spacer);
    font-family: monospace;
    font-size: var(--font-size-md);
}
h1,h2,h3,h4 {
    line-height: 1.2;
}
a {
    text-underline-offset: 0.3rem;
}
a:link {
    color: var(--color-link);
}
a:visited {
    color: var(--color-link-visited);
}
a:hover, a:focus {
    color: var(--color-link-hover);
}
code {
    background-color: var(--nord-polar-night-3);
    padding: 0.15rem;
    border-radius: 0.15rem;
}
hr {
    color: var(--color-fg);
    margin-bottom: var(--half-spacer);
}
.no-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Top navbar */
.navbar-title {
    font-weight: bold;
    font-size: var(--font-size-xl);
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    text-underline-offset: 0.35rem;
    font-weight: bold;
    font-size: var(--font-size-lg);
}
.navbar ul li a:visited {
    color: var(--color-link);
}
.navbar ul li a:hover {
    color: var(--color-link-hover);
}
.navbar ul li a:focus {
    color: var(--color-link-hover);
}
.navbar ul li a.current-page-link {
    color: var(--color-fg) !important;
}

/* About page */
#about-content h2 {
    margin-top: var(--half-spacer);
}

/* Bio page */
.bio-li {
    display: flex;
    align-items: center;
    gap: var(--half-spacer);
    margin-bottom: var(--half-spacer);
}
.bio-li-content {
    flex-basis: 90%;
}
.bio-li-icon {
    flex-basis: 10%;
    flex-shrink: 0;
    padding: var(--icon-padding);
    position: relative;
    height: 10%;
    width: 10%;
    min-width: 3em;
    max-width: 5em;
    aspect-ratio: 1;
    border-radius: 1em;
    background-color: var(--nord-snow-storm-2);
}
.bio-li-icon img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    object-fit: scale-down;
    object-position: center;
    width: calc(100% - (var(--icon-padding) * 2));
    height: calc(100% - (var(--icon-padding) * 2));
}
#technologies {
    margin-top: var(--half-spacer);
    margin-bottom: var(--three-quarter-spacer);
}
#experience, #education {
    margin-bottom: var(--spacer);
}
#education ul {
    padding-left: 0;
}
#experience ul {
    padding-left: 0;
}

/* Projects page */
#projects-content h2 {
    margin-top: var(--half-spacer);
    margin-bottom: var(--half-spacer);
}
.projects-li {
    margin-top: var(--quarter-spacer);
    margin-bottom: var(--half-spacer);
}
.projects-project-title {
    vertical-align: bottom;
    display: inline;
}
.project-header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    border-bottom: 1px solid var(--color-fg);
    margin-bottom: var(--quarter-spacer);
    padding-bottom: 0.2em;
}
.project-header a {
    text-decoration: none;
    flex-basis: 40%;
}
.project-header a:visited {
    color: var(--color-link);
}
.project-header .project-header-ul {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: flex-end;
    flex-basis: 60%;
    flex-grow: 1;
    text-indent: 0;
    padding: 0;
}
.project-header .project-header-ul li {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem 0.5rem;
}
.lang {
    font-weight: bold;
    font-size: var(--font-size-sm);
    color: white;
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.2rem 0.6rem;
    margin: 0.1rem 0;
}
.lang-rust {
    background-color: var(--color-rust);
}
.lang-c {
    background-color: var(--color-c);
}
.lang-cpp {
    background-color: var(--color-cpp);
}
.lang-shell {
    background-color: var(--color-shell);
}
.lang-python {
    background-color: var(--color-python);
}
.lang-java {
    background-color: var(--color-java);
}
.lang-go {
    background-color: var(--color-go);
}
.lang-gdscript {
    background-color: var(--color-gdscript);
}
.lang-arduino {
    background-color: var(--color-arduino);
}
.lang-kicad {
    background-color: var(--color-kicad);
}
.lang-freecad {
    background-color: var(--color-freecad);
}

/* Mobile-specific */
@media(max-width: 767px) {
    body {
        max-width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: var(--font-size-sm);
    }
    .navbar ul {
        gap: 1.0rem;
    }
    .navbar ul li a {
        font-size: var(--font-size-md);
    }
}
